@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Flickr.Models.Comment

<h2>Add a new comment</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Description)
    @Html.EditorFor(model => model.Description)

    @Html.LabelFor(model => model.PictureId)
    @Html.DropDownList("PictureId")

    <input type="submit" value="Create" />
}

@Html.ActionLink("Back to Picture", "Index", "Pictures")